<dx-data-grid [dataSource]="monsterList">

  <dxi-column dataField="name" caption="Name" dataType="string"></dxi-column>
  <dxi-column dataField="alignment" caption="Alignment" dataType="string"></dxi-column>
  <dxi-column dataField="challenge_rating" caption="CR" dataType="number"></dxi-column>
  <dxi-column dataField="armor_class" caption="AC" dataType="number"></dxi-column>
  <dxi-column dataField="hit_points" caption="HP" dataType="number"></dxi-column>


  <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
</dx-data-grid>
